NET "middle_button" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "up_button" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "down_button" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "left_button" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "right_button" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;

NET "r_red<0>" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_red<1>" LOC = P119 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_red<2>" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_red<3>" LOC = P115 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_red<4>" LOC = P112 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_red<5>" LOC = P105 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_red<6>" LOC = P102 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_red<7>" LOC = P100 | IOSTANDARD = LVTTL | PULLDOWN;

NET "r_blue<0>" LOC = P98 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_blue<1>" LOC = P95 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_blue<2>" LOC = P93 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_blue<3>" LOC = P88 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_blue<4>" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_blue<5>" LOC = P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_blue<6>" LOC = P81 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r_blue<7>" LOC = P79 | IOSTANDARD = LVTTL | PULLDOWN;

NET "col<0>" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col<1>" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col<2>" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col<3>" LOC = P114 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col<4>" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col<5>" LOC = P104 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col<6>" LOC = P101 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col<7>" LOC = P99 | IOSTANDARD = LVTTL | PULLDOWN;