//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 08 01:53:45 2017
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "r_blue[0]" LOCATE = SITE "P98" LEVEL 1;
COMP "r_blue[1]" LOCATE = SITE "P95" LEVEL 1;
COMP "r_blue[2]" LOCATE = SITE "P93" LEVEL 1;
COMP "r_blue[3]" LOCATE = SITE "P88" LEVEL 1;
COMP "r_blue[4]" LOCATE = SITE "P85" LEVEL 1;
COMP "r_blue[5]" LOCATE = SITE "P83" LEVEL 1;
COMP "r_blue[6]" LOCATE = SITE "P81" LEVEL 1;
COMP "r_blue[7]" LOCATE = SITE "P79" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "left_button" LOCATE = SITE "P33" LEVEL 1;
COMP "col[0]" LOCATE = SITE "P120" LEVEL 1;
COMP "col[1]" LOCATE = SITE "P118" LEVEL 1;
COMP "col[2]" LOCATE = SITE "P116" LEVEL 1;
COMP "col[3]" LOCATE = SITE "P114" LEVEL 1;
COMP "col[4]" LOCATE = SITE "P111" LEVEL 1;
COMP "col[5]" LOCATE = SITE "P104" LEVEL 1;
COMP "col[6]" LOCATE = SITE "P101" LEVEL 1;
COMP "col[7]" LOCATE = SITE "P99" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "down_button" LOCATE = SITE "P35" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "up_button" LOCATE = SITE "P41" LEVEL 1;
COMP "r_red[0]" LOCATE = SITE "P121" LEVEL 1;
COMP "r_red[1]" LOCATE = SITE "P119" LEVEL 1;
COMP "r_red[2]" LOCATE = SITE "P117" LEVEL 1;
COMP "r_red[3]" LOCATE = SITE "P115" LEVEL 1;
COMP "r_red[4]" LOCATE = SITE "P112" LEVEL 1;
COMP "r_red[5]" LOCATE = SITE "P105" LEVEL 1;
COMP "r_red[6]" LOCATE = SITE "P102" LEVEL 1;
COMP "r_red[7]" LOCATE = SITE "P100" LEVEL 1;
COMP "right_button" LOCATE = SITE "P30" LEVEL 1;
COMP "middle_button" LOCATE = SITE "P51" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP clk = BEL "M_bomb_x_q_10" BEL "M_bomb_x_q_11" BEL "M_bomb_x_q_12" BEL
        "M_bomb_x_q_13" BEL "M_bomb_x_q_14" BEL "M_bomb_x_q_20" BEL
        "M_bomb_x_q_15" BEL "M_bomb_x_q_16" BEL "M_bomb_x_q_21" BEL
        "M_bomb_x_q_22" BEL "M_bomb_x_q_17" BEL "M_bomb_x_q_23" BEL
        "M_bomb_x_q_18" BEL "M_bomb_x_q_19" BEL "M_bomb_x_q_24" BEL
        "M_bomb_x_q_25" BEL "M_bomb_x_q_30" BEL "M_bomb_x_q_26" BEL
        "M_bomb_x_q_31" BEL "M_bomb_x_q_32" BEL "M_bomb_x_q_27" BEL
        "M_bomb_x_q_33" BEL "clock_edge/M_last_q" BEL "M_bomb_x_q_28" BEL
        "M_bomb_x_q_29" BEL "M_bomb_x_q_34" BEL "M_bomb_x_q_35" BEL
        "M_bomb_x_q_40" BEL "M_bomb_x_q_41" BEL "M_bomb_x_q_36" BEL
        "M_bomb_x_q_42" BEL "M_bomb_x_q_37" BEL "M_bomb_x_q_43" BEL
        "M_bomb_x_q_38" BEL "M_bomb_x_q_39" BEL "M_bomb_x_q_44" BEL
        "M_bombs_on_map_q_0" BEL "M_bombs_on_map_q_1" BEL "M_bombs_on_map_q_2"
        BEL "M_bombs_on_map_q_3" BEL "M_bombs_on_map_q_4" BEL
        "M_bombs_on_map_q_5" BEL "M_bombs_on_map_q_6" BEL "M_bombs_on_map_q_7"
        BEL "M_bombs_on_map_q_8" BEL "M_bombs_on_map_q_9" BEL
        "middle_button_cond/M_ctr_q_0" BEL "middle_button_cond/M_ctr_q_1" BEL
        "middle_button_cond/M_ctr_q_2" BEL "middle_button_cond/M_ctr_q_3" BEL
        "middle_button_cond/M_ctr_q_4" BEL "middle_button_cond/M_ctr_q_5" BEL
        "middle_button_cond/M_ctr_q_6" BEL "middle_button_cond/M_ctr_q_7" BEL
        "middle_button_cond/M_ctr_q_8" BEL "middle_button_cond/M_ctr_q_9" BEL
        "middle_button_cond/M_ctr_q_10" BEL "middle_button_cond/M_ctr_q_11"
        BEL "middle_button_cond/M_ctr_q_12" BEL
        "middle_button_cond/M_ctr_q_13" BEL "middle_button_cond/M_ctr_q_14"
        BEL "middle_button_cond/M_ctr_q_15" BEL
        "middle_button_cond/M_ctr_q_16" BEL "middle_button_cond/M_ctr_q_17"
        BEL "middle_button_cond/M_ctr_q_18" BEL
        "middle_button_cond/M_ctr_q_19" BEL
        "middle_button_cond/sync/M_pipe_q_1" BEL
        "middle_button_cond/sync/Mshreg_M_pipe_q_1" BEL "M_clock_q_0" BEL
        "M_clock_q_1" BEL "M_clock_q_2" BEL "M_clock_q_3" BEL "M_clock_q_4"
        BEL "M_clock_q_5" BEL "M_clock_q_6" BEL "M_clock_q_7" BEL
        "M_clock_q_8" BEL "M_clock_q_9" BEL "M_bomb_x_q_0" BEL "M_bomb_x_q_1"
        BEL "M_bomb_x_q_2" BEL "M_bomb_x_q_3" BEL "M_bomb_x_q_4" BEL
        "M_bomb_x_q_5" BEL "M_bomb_x_q_6" BEL "M_bomb_x_q_7" BEL
        "M_bomb_x_q_8" BEL "M_bomb_x_q_9" BEL "edge_detector_right/M_last_q"
        BEL "down_button_cond/M_ctr_q_0" BEL "down_button_cond/M_ctr_q_1" BEL
        "down_button_cond/M_ctr_q_2" BEL "down_button_cond/M_ctr_q_3" BEL
        "down_button_cond/M_ctr_q_4" BEL "down_button_cond/M_ctr_q_5" BEL
        "down_button_cond/M_ctr_q_6" BEL "down_button_cond/M_ctr_q_7" BEL
        "down_button_cond/M_ctr_q_8" BEL "down_button_cond/M_ctr_q_9" BEL
        "down_button_cond/M_ctr_q_10" BEL "down_button_cond/M_ctr_q_11" BEL
        "down_button_cond/M_ctr_q_12" BEL "down_button_cond/M_ctr_q_13" BEL
        "down_button_cond/M_ctr_q_14" BEL "down_button_cond/M_ctr_q_15" BEL
        "down_button_cond/M_ctr_q_16" BEL "down_button_cond/M_ctr_q_17" BEL
        "down_button_cond/M_ctr_q_18" BEL "down_button_cond/M_ctr_q_19" BEL
        "down_button_cond/sync/M_pipe_q_1" BEL
        "down_button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "left_button_cond/M_ctr_q_0" BEL "left_button_cond/M_ctr_q_1" BEL
        "left_button_cond/M_ctr_q_2" BEL "left_button_cond/M_ctr_q_3" BEL
        "left_button_cond/M_ctr_q_4" BEL "left_button_cond/M_ctr_q_5" BEL
        "left_button_cond/M_ctr_q_6" BEL "left_button_cond/M_ctr_q_7" BEL
        "left_button_cond/M_ctr_q_8" BEL "left_button_cond/M_ctr_q_9" BEL
        "left_button_cond/M_ctr_q_10" BEL "left_button_cond/M_ctr_q_11" BEL
        "left_button_cond/M_ctr_q_12" BEL "left_button_cond/M_ctr_q_13" BEL
        "left_button_cond/M_ctr_q_14" BEL "left_button_cond/M_ctr_q_15" BEL
        "left_button_cond/M_ctr_q_16" BEL "left_button_cond/M_ctr_q_17" BEL
        "left_button_cond/M_ctr_q_18" BEL "left_button_cond/M_ctr_q_19" BEL
        "left_button_cond/sync/M_pipe_q_1" BEL
        "left_button_cond/sync/Mshreg_M_pipe_q_1" BEL "M_bomb_y_q_0" BEL
        "M_bomb_y_q_1" BEL "M_bomb_y_q_2" BEL "M_bomb_y_q_3" BEL
        "M_bomb_y_q_4" BEL "M_bomb_y_q_5" BEL "M_bomb_y_q_6" BEL
        "M_bomb_y_q_7" BEL "M_bomb_y_q_8" BEL "M_bomb_y_q_9" BEL
        "M_bombs_on_map_q_10" BEL "M_bombs_on_map_q_11" BEL
        "M_bombs_on_map_q_12" BEL "M_bombs_on_map_q_13" BEL
        "M_bombs_on_map_q_14" BEL "M_bombs_on_map_q_15" BEL
        "M_bombs_on_map_q_20" BEL "M_bombs_on_map_q_16" BEL
        "M_bombs_on_map_q_21" BEL "M_bombs_on_map_q_17" BEL
        "M_bombs_on_map_q_22" BEL "M_bombs_on_map_q_18" BEL
        "M_bombs_on_map_q_23" BEL "M_bombs_on_map_q_19" BEL
        "M_bombs_on_map_q_24" BEL "M_bombs_on_map_q_25" BEL
        "M_bombs_on_map_q_30" BEL "M_bombs_on_map_q_26" BEL
        "M_bombs_on_map_q_31" BEL "M_bombs_on_map_q_27" BEL
        "M_bombs_on_map_q_32" BEL "M_bombs_on_map_q_28" BEL
        "M_bombs_on_map_q_33" BEL "M_bombs_on_map_q_29" BEL
        "M_bombs_on_map_q_34" BEL "M_bombs_on_map_q_35" BEL
        "M_bombs_on_map_q_40" BEL "M_bombs_on_map_q_36" BEL
        "M_bombs_on_map_q_41" BEL "M_bombs_on_map_q_37" BEL
        "M_bombs_on_map_q_42" BEL "M_bombs_on_map_q_38" BEL
        "M_bombs_on_map_q_43" BEL "M_bombs_on_map_q_39" BEL
        "M_bombs_on_map_q_44" BEL "M_bombs_on_map_q_45" BEL
        "M_bombs_on_map_q_50" BEL "M_bombs_on_map_q_46" BEL
        "M_bombs_on_map_q_51" BEL "M_bombs_on_map_q_47" BEL
        "M_bombs_on_map_q_52" BEL "M_bombs_on_map_q_48" BEL
        "M_bombs_on_map_q_53" BEL "M_bombs_on_map_q_49" BEL
        "M_bombs_on_map_q_54" BEL "M_bombs_on_map_q_55" BEL
        "M_bombs_on_map_q_60" BEL "M_bombs_on_map_q_56" BEL
        "M_bombs_on_map_q_61" BEL "M_bombs_on_map_q_57" BEL
        "M_bombs_on_map_q_62" BEL "M_bombs_on_map_q_58" BEL
        "M_bombs_on_map_q_63" BEL "M_bombs_on_map_q_59" BEL
        "M_current_pos_y_q_0_1" BEL "M_current_pos_y_q_0_2" BEL
        "M_current_pos_y_q_1_1" BEL "M_current_pos_y_q_1_2" BEL
        "M_current_pos_y_q_1_3" BEL "M_current_pos_y_q_2_1" BEL
        "M_current_pos_y_q_2_2" BEL "M_current_pos_y_q_2_3" BEL "M_clock_q_10"
        BEL "M_clock_q_11" BEL "M_clock_q_12" BEL "M_clock_q_13" BEL
        "M_clock_q_14" BEL "M_clock_q_20" BEL "M_clock_q_15" BEL
        "M_clock_q_21" BEL "M_clock_q_16" BEL "M_clock_q_22" BEL
        "M_clock_q_17" BEL "M_clock_q_23" BEL "M_clock_q_18" BEL
        "M_clock_q_24" BEL "M_clock_q_19" BEL "right_button_cond/M_ctr_q_0"
        BEL "right_button_cond/M_ctr_q_1" BEL "right_button_cond/M_ctr_q_2"
        BEL "right_button_cond/M_ctr_q_3" BEL "right_button_cond/M_ctr_q_4"
        BEL "right_button_cond/M_ctr_q_5" BEL "right_button_cond/M_ctr_q_6"
        BEL "right_button_cond/M_ctr_q_7" BEL "right_button_cond/M_ctr_q_8"
        BEL "right_button_cond/M_ctr_q_9" BEL "right_button_cond/M_ctr_q_10"
        BEL "right_button_cond/M_ctr_q_11" BEL "right_button_cond/M_ctr_q_12"
        BEL "right_button_cond/M_ctr_q_13" BEL "right_button_cond/M_ctr_q_14"
        BEL "right_button_cond/M_ctr_q_15" BEL "right_button_cond/M_ctr_q_16"
        BEL "right_button_cond/M_ctr_q_17" BEL "right_button_cond/M_ctr_q_18"
        BEL "right_button_cond/M_ctr_q_19" BEL
        "right_button_cond/sync/M_pipe_q_1" BEL
        "right_button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "M_transition_clock_q_10" BEL "M_transition_clock_q_11" BEL
        "M_transition_clock_q_12" BEL "M_transition_clock_q_13" BEL
        "M_transition_clock_q_14" BEL "M_transition_clock_q_20" BEL
        "M_transition_clock_q_15" BEL "M_transition_clock_q_21" BEL
        "M_transition_clock_q_16" BEL "M_transition_clock_q_22" BEL
        "M_transition_clock_q_17" BEL "M_transition_clock_q_23" BEL
        "M_transition_clock_q_18" BEL "M_transition_clock_q_24" BEL
        "M_transition_clock_q_19" BEL "M_transition_clock_q_25" BEL
        "M_allbombs_q_0" BEL "M_allbombs_q_1" BEL "M_allbombs_q_2" BEL
        "M_allbombs_q_3" BEL "M_allbombs_q_4" BEL "M_allbombs_q_5" BEL
        "M_allbombs_q_6" BEL "M_allbombs_q_7" BEL "M_allbombs_q_8" BEL
        "M_allbombs_q_9" BEL "M_bomb_y_q_10" BEL "M_bomb_y_q_11" BEL
        "M_bomb_y_q_12" BEL "M_bomb_y_q_13" BEL "M_bomb_y_q_14" BEL
        "M_bomb_y_q_15" BEL "M_bomb_y_q_20" BEL "M_bomb_y_q_16" BEL
        "M_bomb_y_q_21" BEL "M_bomb_y_q_17" BEL "M_bomb_y_q_22" BEL
        "M_bomb_y_q_23" BEL "M_bomb_y_q_18" BEL "M_bomb_y_q_24" BEL
        "M_bomb_y_q_19" BEL "M_bomb_y_q_30" BEL "M_bomb_y_q_25" BEL
        "M_bomb_y_q_26" BEL "M_bomb_y_q_31" BEL "M_bomb_y_q_27" BEL
        "M_bomb_y_q_32" BEL "M_bomb_y_q_33" BEL "M_bomb_y_q_28" BEL
        "M_bomb_y_q_29" BEL "M_bomb_y_q_34" BEL "M_bomb_y_q_40" BEL
        "M_bomb_y_q_35" BEL "M_bomb_y_q_36" BEL "M_bomb_y_q_41" BEL
        "M_bomb_y_q_37" BEL "M_bomb_y_q_42" BEL "M_bomb_y_q_43" BEL
        "M_bomb_y_q_38" BEL "M_bomb_y_q_39" BEL "M_bomb_y_q_44" BEL
        "M_allbombs_q_10" BEL "M_allbombs_q_11" BEL "M_allbombs_q_12" BEL
        "M_allbombs_q_13" BEL "M_allbombs_q_14" BEL "M_allbombs_q_15" BEL
        "M_allbombs_q_20" BEL "M_allbombs_q_16" BEL "M_allbombs_q_21" BEL
        "M_allbombs_q_17" BEL "M_allbombs_q_22" BEL "M_allbombs_q_18" BEL
        "M_allbombs_q_23" BEL "M_allbombs_q_19" BEL "M_allbombs_q_24" BEL
        "M_allbombs_q_25" BEL "M_allbombs_q_30" BEL "M_allbombs_q_26" BEL
        "M_allbombs_q_31" BEL "M_allbombs_q_27" BEL "M_allbombs_q_32" BEL
        "M_allbombs_q_28" BEL "M_allbombs_q_33" BEL "M_allbombs_q_29" BEL
        "M_allbombs_q_34" BEL "M_allbombs_q_35" BEL "M_allbombs_q_40" BEL
        "M_allbombs_q_36" BEL "M_allbombs_q_41" BEL "M_allbombs_q_37" BEL
        "M_allbombs_q_42" BEL "M_allbombs_q_38" BEL "M_allbombs_q_43" BEL
        "M_allbombs_q_39" BEL "M_allbombs_q_44" BEL "M_allbombs_q_45" BEL
        "M_allbombs_q_50" BEL "M_allbombs_q_46" BEL "M_allbombs_q_51" BEL
        "M_allbombs_q_47" BEL "M_allbombs_q_52" BEL "M_allbombs_q_48" BEL
        "M_allbombs_q_53" BEL "M_allbombs_q_49" BEL "M_allbombs_q_54" BEL
        "M_allbombs_q_55" BEL "M_allbombs_q_60" BEL "M_allbombs_q_56" BEL
        "M_allbombs_q_61" BEL "M_allbombs_q_57" BEL "M_allbombs_q_62" BEL
        "M_allbombs_q_58" BEL "M_allbombs_q_63" BEL "M_allbombs_q_59" BEL
        "M_allbombs_q_64" BEL "M_allbombs_q_65" BEL "M_allbombs_q_70" BEL
        "M_allbombs_q_66" BEL "M_allbombs_q_71" BEL "M_allbombs_q_67" BEL
        "M_allbombs_q_72" BEL "M_allbombs_q_68" BEL "M_allbombs_q_73" BEL
        "M_allbombs_q_69" BEL "M_allbombs_q_74" BEL "M_allbombs_q_75" BEL
        "M_allbombs_q_80" BEL "M_allbombs_q_76" BEL "M_allbombs_q_81" BEL
        "M_allbombs_q_77" BEL "M_allbombs_q_82" BEL "M_allbombs_q_78" BEL
        "M_allbombs_q_83" BEL "M_allbombs_q_79" BEL "M_allbombs_q_84" BEL
        "M_allbombs_q_85" BEL "M_allbombs_q_90" BEL "M_allbombs_q_86" BEL
        "M_allbombs_q_91" BEL "M_allbombs_q_87" BEL "M_allbombs_q_92" BEL
        "M_allbombs_q_88" BEL "M_allbombs_q_93" BEL "M_allbombs_q_94" BEL
        "M_allbombs_q_89" BEL "M_allbombs_q_95" BEL "M_allbombs_q_96" BEL
        "M_allbombs_q_97" BEL "M_allbombs_q_98" BEL "M_allbombs_q_99" BEL
        "up_button_cond/M_ctr_q_0" BEL "up_button_cond/M_ctr_q_1" BEL
        "up_button_cond/M_ctr_q_2" BEL "up_button_cond/M_ctr_q_3" BEL
        "up_button_cond/M_ctr_q_4" BEL "up_button_cond/M_ctr_q_5" BEL
        "up_button_cond/M_ctr_q_6" BEL "up_button_cond/M_ctr_q_7" BEL
        "up_button_cond/M_ctr_q_8" BEL "up_button_cond/M_ctr_q_9" BEL
        "up_button_cond/M_ctr_q_10" BEL "up_button_cond/M_ctr_q_11" BEL
        "up_button_cond/M_ctr_q_12" BEL "up_button_cond/M_ctr_q_13" BEL
        "up_button_cond/M_ctr_q_14" BEL "up_button_cond/M_ctr_q_15" BEL
        "up_button_cond/M_ctr_q_16" BEL "up_button_cond/M_ctr_q_17" BEL
        "up_button_cond/M_ctr_q_18" BEL "up_button_cond/M_ctr_q_19" BEL
        "up_button_cond/sync/M_pipe_q_1" BEL
        "up_button_cond/sync/Mshreg_M_pipe_q_1" BEL
        "edge_detector_down/M_last_q" BEL "M_current_pos_x_q_0" BEL
        "M_current_pos_x_q_1" BEL "M_current_pos_x_q_2" BEL
        "edge_detector_up/M_last_q" BEL "M_transition_counter_q_0" BEL
        "M_transition_counter_q_1" BEL "M_transition_counter_q_2" BEL
        "edge_detector_left/M_last_q" BEL "M_current_pos_y_q_0" BEL
        "M_current_pos_y_q_1" BEL "M_current_pos_y_q_2" BEL "clk_BUFGP/BUFG"
        BEL "M_allbombs_q_100" BEL "M_allbombs_q_101" BEL "M_allbombs_q_102"
        BEL "M_allbombs_q_103" BEL "M_allbombs_q_104" BEL "M_allbombs_q_105"
        BEL "M_allbombs_q_110" BEL "M_allbombs_q_106" BEL "M_allbombs_q_111"
        BEL "M_allbombs_q_107" BEL "M_allbombs_q_112" BEL "M_allbombs_q_108"
        BEL "M_allbombs_q_113" BEL "M_allbombs_q_109" BEL "M_allbombs_q_114"
        BEL "M_allbombs_q_115" BEL "M_allbombs_q_120" BEL "M_allbombs_q_116"
        BEL "M_allbombs_q_121" BEL "M_allbombs_q_117" BEL "M_allbombs_q_122"
        BEL "M_allbombs_q_118" BEL "M_allbombs_q_123" BEL "M_allbombs_q_119"
        BEL "M_allbombs_q_124" BEL "M_allbombs_q_125" BEL "M_allbombs_q_130"
        BEL "M_allbombs_q_126" BEL "M_allbombs_q_131" BEL "M_allbombs_q_127"
        BEL "M_allbombs_q_132" BEL "M_allbombs_q_128" BEL "M_allbombs_q_133"
        BEL "M_allbombs_q_129" BEL "M_allbombs_q_134" BEL "M_allbombs_q_135"
        BEL "M_allbombs_q_140" BEL "M_allbombs_q_136" BEL "M_allbombs_q_141"
        BEL "M_allbombs_q_137" BEL "M_allbombs_q_142" BEL "M_allbombs_q_138"
        BEL "M_allbombs_q_143" BEL "M_allbombs_q_139" BEL "M_allbombs_q_144"
        BEL "M_allbombs_q_145" BEL "M_allbombs_q_200" BEL "M_allbombs_q_150"
        BEL "M_allbombs_q_146" BEL "M_allbombs_q_201" BEL "M_allbombs_q_151"
        BEL "M_allbombs_q_202" BEL "M_allbombs_q_152" BEL "M_allbombs_q_147"
        BEL "M_allbombs_q_203" BEL "M_allbombs_q_153" BEL "M_allbombs_q_148"
        BEL "M_allbombs_q_204" BEL "M_allbombs_q_154" BEL "M_allbombs_q_149"
        BEL "M_allbombs_q_210" BEL "M_allbombs_q_205" BEL "M_allbombs_q_160"
        BEL "M_allbombs_q_155" BEL "M_allbombs_q_211" BEL "M_allbombs_q_206"
        BEL "M_allbombs_q_161" BEL "M_allbombs_q_156" BEL "M_allbombs_q_212"
        BEL "M_allbombs_q_207" BEL "M_allbombs_q_162" BEL "M_allbombs_q_157"
        BEL "M_allbombs_q_213" BEL "M_allbombs_q_208" BEL "M_allbombs_q_163"
        BEL "M_allbombs_q_158" BEL "M_allbombs_q_214" BEL "M_allbombs_q_209"
        BEL "M_allbombs_q_164" BEL "M_allbombs_q_159" BEL "M_allbombs_q_220"
        BEL "M_allbombs_q_215" BEL "M_allbombs_q_170" BEL "M_allbombs_q_165"
        BEL "M_allbombs_q_221" BEL "M_allbombs_q_216" BEL "M_allbombs_q_171"
        BEL "M_allbombs_q_166" BEL "M_allbombs_q_167" BEL "M_allbombs_q_222"
        BEL "M_allbombs_q_217" BEL "M_allbombs_q_172" BEL "M_allbombs_q_168"
        BEL "M_allbombs_q_223" BEL "M_allbombs_q_218" BEL "M_allbombs_q_173"
        BEL "M_allbombs_q_169" BEL "M_allbombs_q_224" BEL "M_allbombs_q_219"
        BEL "M_allbombs_q_174" BEL "M_allbombs_q_175" BEL "M_allbombs_q_230"
        BEL "M_allbombs_q_225" BEL "M_allbombs_q_180" BEL "M_allbombs_q_176"
        BEL "M_allbombs_q_231" BEL "M_allbombs_q_226" BEL "M_allbombs_q_181"
        BEL "M_allbombs_q_177" BEL "M_allbombs_q_232" BEL "M_allbombs_q_227"
        BEL "M_allbombs_q_182" BEL "M_allbombs_q_178" BEL "M_allbombs_q_233"
        BEL "M_allbombs_q_228" BEL "M_allbombs_q_183" BEL "M_allbombs_q_179"
        BEL "M_allbombs_q_234" BEL "M_allbombs_q_229" BEL "M_allbombs_q_184"
        BEL "M_allbombs_q_185" BEL "M_allbombs_q_240" BEL "M_allbombs_q_235"
        BEL "M_allbombs_q_190" BEL "M_allbombs_q_186" BEL "M_allbombs_q_241"
        BEL "M_allbombs_q_236" BEL "M_allbombs_q_191" BEL "M_allbombs_q_187"
        BEL "M_allbombs_q_242" BEL "M_allbombs_q_237" BEL "M_allbombs_q_192"
        BEL "M_allbombs_q_188" BEL "M_allbombs_q_243" BEL "M_allbombs_q_238"
        BEL "M_allbombs_q_193" BEL "M_allbombs_q_189" BEL "M_allbombs_q_244"
        BEL "M_allbombs_q_239" BEL "M_allbombs_q_194" BEL "M_allbombs_q_195"
        BEL "M_allbombs_q_300" BEL "M_allbombs_q_250" BEL "M_allbombs_q_245"
        BEL "M_allbombs_q_196" BEL "M_allbombs_q_301" BEL "M_allbombs_q_251"
        BEL "M_allbombs_q_246" BEL "M_allbombs_q_197" BEL "M_allbombs_q_302"
        BEL "M_allbombs_q_252" BEL "M_allbombs_q_247" BEL "M_allbombs_q_198"
        BEL "M_allbombs_q_303" BEL "M_allbombs_q_253" BEL "M_allbombs_q_248"
        BEL "M_allbombs_q_199" BEL "M_allbombs_q_304" BEL "M_allbombs_q_254"
        BEL "M_allbombs_q_249" BEL "M_allbombs_q_255" BEL "M_allbombs_q_310"
        BEL "M_allbombs_q_305" BEL "M_allbombs_q_260" BEL "M_allbombs_q_256"
        BEL "M_allbombs_q_311" BEL "M_allbombs_q_306" BEL "M_allbombs_q_261"
        BEL "M_allbombs_q_257" BEL "M_allbombs_q_312" BEL "M_allbombs_q_307"
        BEL "M_allbombs_q_262" BEL "M_allbombs_q_258" BEL "M_allbombs_q_313"
        BEL "M_allbombs_q_308" BEL "M_allbombs_q_263" BEL "M_allbombs_q_259"
        BEL "M_allbombs_q_314" BEL "M_allbombs_q_309" BEL "M_allbombs_q_264"
        BEL "M_allbombs_q_265" BEL "M_allbombs_q_320" BEL "M_allbombs_q_315"
        BEL "M_allbombs_q_270" BEL "M_allbombs_q_266" BEL "M_allbombs_q_321"
        BEL "M_allbombs_q_316" BEL "M_allbombs_q_271" BEL "M_allbombs_q_267"
        BEL "M_allbombs_q_322" BEL "M_allbombs_q_317" BEL "M_allbombs_q_272"
        BEL "M_allbombs_q_268" BEL "M_allbombs_q_323" BEL "M_allbombs_q_318"
        BEL "M_allbombs_q_273" BEL "M_allbombs_q_269" BEL "M_allbombs_q_324"
        BEL "M_allbombs_q_319" BEL "M_allbombs_q_274" BEL "M_allbombs_q_275"
        BEL "M_allbombs_q_330" BEL "M_allbombs_q_325" BEL "M_allbombs_q_280"
        BEL "M_allbombs_q_276" BEL "M_allbombs_q_331" BEL "M_allbombs_q_326"
        BEL "M_allbombs_q_281" BEL "M_allbombs_q_277" BEL "M_allbombs_q_332"
        BEL "M_allbombs_q_327" BEL "M_allbombs_q_282" BEL "M_allbombs_q_278"
        BEL "M_allbombs_q_333" BEL "M_allbombs_q_328" BEL "M_allbombs_q_283"
        BEL "M_allbombs_q_279" BEL "M_allbombs_q_334" BEL "M_allbombs_q_329"
        BEL "M_allbombs_q_284" BEL "M_allbombs_q_285" BEL "M_allbombs_q_340"
        BEL "M_allbombs_q_335" BEL "M_allbombs_q_290" BEL "M_allbombs_q_286"
        BEL "M_allbombs_q_341" BEL "M_allbombs_q_336" BEL "M_allbombs_q_291"
        BEL "M_allbombs_q_287" BEL "M_allbombs_q_342" BEL "M_allbombs_q_337"
        BEL "M_allbombs_q_292" BEL "M_allbombs_q_288" BEL "M_allbombs_q_343"
        BEL "M_allbombs_q_338" BEL "M_allbombs_q_293" BEL "M_allbombs_q_289"
        BEL "M_allbombs_q_344" BEL "M_allbombs_q_339" BEL "M_allbombs_q_294"
        BEL "M_allbombs_q_295" BEL "M_allbombs_q_350" BEL "M_allbombs_q_400"
        BEL "M_allbombs_q_345" BEL "M_allbombs_q_296" BEL "M_allbombs_q_351"
        BEL "M_allbombs_q_401" BEL "M_allbombs_q_346" BEL "M_allbombs_q_297"
        BEL "M_allbombs_q_352" BEL "M_allbombs_q_402" BEL "M_allbombs_q_347"
        BEL "M_allbombs_q_298" BEL "M_allbombs_q_353" BEL "M_allbombs_q_403"
        BEL "M_allbombs_q_348" BEL "M_allbombs_q_299" BEL "M_allbombs_q_354"
        BEL "M_allbombs_q_404" BEL "M_allbombs_q_349" BEL "M_allbombs_q_355"
        BEL "M_allbombs_q_405" BEL "M_allbombs_q_410" BEL "M_allbombs_q_360"
        BEL "M_allbombs_q_356" BEL "M_allbombs_q_406" BEL "M_allbombs_q_411"
        BEL "M_allbombs_q_361" BEL "M_allbombs_q_357" BEL "M_allbombs_q_407"
        BEL "M_allbombs_q_412" BEL "M_allbombs_q_362" BEL "M_allbombs_q_358"
        BEL "M_allbombs_q_408" BEL "M_allbombs_q_413" BEL "M_allbombs_q_363"
        BEL "M_allbombs_q_359" BEL "M_allbombs_q_409" BEL "M_allbombs_q_414"
        BEL "M_allbombs_q_364" BEL "M_allbombs_q_365" BEL "M_allbombs_q_415"
        BEL "M_allbombs_q_420" BEL "M_allbombs_q_370" BEL "M_allbombs_q_371"
        BEL "M_allbombs_q_416" BEL "M_allbombs_q_421" BEL "M_allbombs_q_366"
        BEL "M_allbombs_q_372" BEL "M_allbombs_q_417" BEL "M_allbombs_q_422"
        BEL "M_allbombs_q_367" BEL "M_allbombs_q_373" BEL "M_allbombs_q_418"
        BEL "M_allbombs_q_423" BEL "M_allbombs_q_368" BEL "M_allbombs_q_374"
        BEL "M_allbombs_q_369" BEL "M_allbombs_q_419" BEL "M_allbombs_q_424"
        BEL "M_allbombs_q_380" BEL "M_allbombs_q_425" BEL "M_allbombs_q_430"
        BEL "M_allbombs_q_375" BEL "M_allbombs_q_381" BEL "M_allbombs_q_426"
        BEL "M_allbombs_q_431" BEL "M_allbombs_q_376" BEL "M_allbombs_q_382"
        BEL "M_allbombs_q_427" BEL "M_allbombs_q_432" BEL "M_allbombs_q_377"
        BEL "M_allbombs_q_383" BEL "M_allbombs_q_428" BEL "M_allbombs_q_433"
        BEL "M_allbombs_q_378" BEL "M_allbombs_q_384" BEL "M_allbombs_q_429"
        BEL "M_allbombs_q_434" BEL "M_allbombs_q_379" BEL "M_allbombs_q_390"
        BEL "M_allbombs_q_435" BEL "M_allbombs_q_440" BEL "M_allbombs_q_385"
        BEL "M_allbombs_q_391" BEL "M_allbombs_q_436" BEL "M_allbombs_q_441"
        BEL "M_allbombs_q_386" BEL "M_allbombs_q_392" BEL "M_allbombs_q_437"
        BEL "M_allbombs_q_442" BEL "M_allbombs_q_387" BEL "M_allbombs_q_393"
        BEL "M_allbombs_q_438" BEL "M_allbombs_q_443" BEL "M_allbombs_q_388"
        BEL "M_allbombs_q_394" BEL "M_allbombs_q_439" BEL "M_allbombs_q_444"
        BEL "M_allbombs_q_389" BEL "M_allbombs_q_445" BEL "M_allbombs_q_395"
        BEL "M_allbombs_q_446" BEL "M_allbombs_q_396" BEL "M_allbombs_q_447"
        BEL "M_allbombs_q_397" BEL "M_allbombs_q_448" BEL "M_allbombs_q_398"
        BEL "M_allbombs_q_449" BEL "M_allbombs_q_399" BEL
        "M_transition_clock_q_0" BEL "M_transition_clock_q_1" BEL
        "M_transition_clock_q_2" BEL "M_transition_clock_q_3" BEL
        "M_transition_clock_q_4" BEL "M_transition_clock_q_5" BEL
        "M_transition_clock_q_6" BEL "M_transition_clock_q_7" BEL
        "M_transition_clock_q_8" BEL "M_transition_clock_q_9" BEL
        "M_current_level_q_0" BEL "M_current_level_q_1" BEL "M_bomb_start_q_0"
        BEL "M_bomb_start_q_1" BEL "M_bomb_start_q_2" BEL "M_bomb_start_q_3"
        BEL "M_bomb_start_q_4" BEL "M_bomb_start_q_5" BEL "M_bomb_start_q_6"
        BEL "M_bomb_start_q_7" BEL "M_bomb_start_q_8" BEL "M_bomb_start_q_9"
        BEL "M_bomb_start_q_10" BEL "M_bomb_start_q_11" BEL
        "M_bomb_start_q_12" BEL "M_bomb_start_q_13" BEL "M_bomb_start_q_14"
        BEL "pn_gen/M_y_q_31" BEL "pn_gen/M_y_q_30" BEL "pn_gen/M_y_q_29" BEL
        "pn_gen/M_y_q_28" BEL "pn_gen/M_y_q_27" BEL "pn_gen/M_y_q_26" BEL
        "pn_gen/M_y_q_25" BEL "pn_gen/M_y_q_24" BEL "pn_gen/M_y_q_23" BEL
        "pn_gen/M_y_q_22" BEL "pn_gen/M_y_q_21" BEL "pn_gen/M_y_q_20" BEL
        "pn_gen/M_y_q_19" BEL "pn_gen/M_y_q_18" BEL "pn_gen/M_y_q_17" BEL
        "pn_gen/M_y_q_16" BEL "pn_gen/M_y_q_15" BEL "pn_gen/M_y_q_14" BEL
        "pn_gen/M_y_q_13" BEL "pn_gen/M_y_q_12" BEL "pn_gen/M_y_q_11" BEL
        "pn_gen/M_y_q_10" BEL "pn_gen/M_y_q_9" BEL "pn_gen/M_y_q_8" BEL
        "pn_gen/M_y_q_7" BEL "pn_gen/M_y_q_6" BEL "pn_gen/M_y_q_5" BEL
        "pn_gen/M_y_q_4" BEL "pn_gen/M_y_q_3" BEL "pn_gen/M_y_q_2" BEL
        "pn_gen/M_y_q_1" BEL "pn_gen/M_y_q_0" BEL "pn_gen/M_z_q_31" BEL
        "pn_gen/M_z_q_30" BEL "pn_gen/M_z_q_29" BEL "pn_gen/M_z_q_28" BEL
        "pn_gen/M_z_q_27" BEL "pn_gen/M_z_q_26" BEL "pn_gen/M_z_q_25" BEL
        "pn_gen/M_z_q_24" BEL "pn_gen/M_z_q_23" BEL "pn_gen/M_z_q_22" BEL
        "pn_gen/M_z_q_21" BEL "pn_gen/M_z_q_20" BEL "pn_gen/M_z_q_19" BEL
        "pn_gen/M_z_q_18" BEL "pn_gen/M_z_q_17" BEL "pn_gen/M_z_q_16" BEL
        "pn_gen/M_z_q_15" BEL "pn_gen/M_z_q_14" BEL "pn_gen/M_z_q_13" BEL
        "pn_gen/M_z_q_12" BEL "pn_gen/M_z_q_11" BEL "pn_gen/M_z_q_10" BEL
        "pn_gen/M_z_q_9" BEL "pn_gen/M_z_q_8" BEL "pn_gen/M_z_q_7" BEL
        "pn_gen/M_z_q_6" BEL "pn_gen/M_z_q_5" BEL "pn_gen/M_z_q_4" BEL
        "pn_gen/M_z_q_3" BEL "pn_gen/M_z_q_2" BEL "pn_gen/M_z_q_1" BEL
        "pn_gen/M_z_q_0" BEL "pn_gen/M_w_q_31" BEL "pn_gen/M_w_q_30" BEL
        "pn_gen/M_w_q_29" BEL "pn_gen/M_w_q_28" BEL "pn_gen/M_w_q_27" BEL
        "pn_gen/M_w_q_26" BEL "pn_gen/M_w_q_25" BEL "pn_gen/M_w_q_24" BEL
        "pn_gen/M_w_q_23" BEL "pn_gen/M_w_q_22" BEL "pn_gen/M_w_q_21" BEL
        "pn_gen/M_w_q_20" BEL "pn_gen/M_w_q_19" BEL "pn_gen/M_w_q_18" BEL
        "pn_gen/M_w_q_17" BEL "pn_gen/M_w_q_16" BEL "pn_gen/M_w_q_15" BEL
        "pn_gen/M_w_q_14" BEL "pn_gen/M_w_q_13" BEL "pn_gen/M_w_q_12" BEL
        "pn_gen/M_w_q_11" BEL "pn_gen/M_w_q_10" BEL "pn_gen/M_w_q_9" BEL
        "pn_gen/M_w_q_8" BEL "pn_gen/M_w_q_7" BEL "pn_gen/M_w_q_6" BEL
        "pn_gen/M_w_q_5" BEL "pn_gen/M_w_q_4" BEL "pn_gen/M_w_q_3" BEL
        "pn_gen/M_w_q_2" BEL "pn_gen/M_w_q_1" BEL "pn_gen/M_w_q_0" BEL
        "pn_gen/M_x_q_31" BEL "pn_gen/M_x_q_30" BEL "pn_gen/M_x_q_29" BEL
        "pn_gen/M_x_q_28" BEL "pn_gen/M_x_q_27" BEL "pn_gen/M_x_q_26" BEL
        "pn_gen/M_x_q_25" BEL "pn_gen/M_x_q_24" BEL "pn_gen/M_x_q_23" BEL
        "pn_gen/M_x_q_22" BEL "pn_gen/M_x_q_21" BEL "pn_gen/M_x_q_20" BEL
        "pn_gen/M_x_q_19" BEL "pn_gen/M_x_q_18" BEL "pn_gen/M_x_q_17" BEL
        "pn_gen/M_x_q_16" BEL "pn_gen/M_x_q_15" BEL "pn_gen/M_x_q_14" BEL
        "pn_gen/M_x_q_13" BEL "pn_gen/M_x_q_12" BEL "pn_gen/M_x_q_11" BEL
        "pn_gen/M_x_q_10" BEL "pn_gen/M_x_q_9" BEL "pn_gen/M_x_q_8" BEL
        "pn_gen/M_x_q_7" BEL "pn_gen/M_x_q_6" BEL "pn_gen/M_x_q_5" BEL
        "pn_gen/M_x_q_4" BEL "pn_gen/M_x_q_3" BEL "pn_gen/M_x_q_2" BEL
        "pn_gen/M_x_q_1" BEL "pn_gen/M_x_q_0" BEL "pn_gen/M_w_q_5_1" BEL
        "pn_gen/M_w_q_4_1" BEL "pn_gen/M_w_q_4_2" BEL "pn_gen/M_w_q_5_2" BEL
        "M_bombergame_q_FSM_FFd1" BEL "M_bombergame_q_FSM_FFd2" BEL
        "M_bombergame_q_FSM_FFd3" BEL "M_bombergame_q_FSM_FFd4" BEL
        "M_bombergame_q_FSM_FFd5" BEL "M_bombergame_q_FSM_FFd6" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL
        "M_total_bombs_per_level_q_0" BEL "M_total_bombs_per_level_q_1" BEL
        "M_bombergame_q_FSM_FFd1_1" BEL "M_bombergame_q_FSM_FFd1_2" BEL
        "M_bombergame_q_FSM_FFd1_3" BEL "M_bomb_count_q_0" BEL
        "M_bomb_count_q_1" BEL "M_bomb_count_q_2" BEL "M_bomb_count_q_3" BEL
        "edge_detector_mid/M_last_q";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

